.optionRow {
    padding-left: 3%;
    padding-right: 3%;
}

.optionRow > div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.optionRow > div strong{
    align-self: center;
}

.optionRow:hover:not(.selected):not(.correct) {
    background-color: #F9A826;
    cursor: pointer;
    user-select: none;
}

.iconTag {
    align-self: center;
}

.icon {
    width: 20px;
    height: 20px;
    align-self: center;
    margin: 4%;
}