/* .optionRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1%;
    margin-bottom: 3%;
} */

.optionRow div{
    display: inherit;
    justify-content: space-evenly;
    width: 75%;
}

.optionRow div strong{
    align-self: center;
}

.optionRow:hover {
    background-color: #F9A826;
    cursor: pointer;
    user-select: none;
}

.icon {
    width: 20px;
    height: 20px;
    align-self: center;
    margin: 4%;
}