.quizCardParent {
    height: 70%;
    width: 25%;
    min-width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quizCard {
    background-color: azure;
    height: 70%;
    width: 100%;
    border: 3px solid azure;
    border-radius: 5%;
    min-height: 90%;
}

.quizCardParent h2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    font-size: 1.5em;
    color: white;
}

.adventureImg {
    position: absolute;
    margin-top: -7%;
    margin-left: 2%;
    height: auto;
    width: 15%;
}

.quiz {
    margin-top: 15%;
}

.quiz > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}