.winnerParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}

.winnerParent button {
    justify-content: center;
    align-self: center;
    max-width: 40%;
    padding: 4%;
    /* color: #3c1d3c; */
    font-weight: bold;
}

.winnerParent p span {
    font-size: xx-large;
    font-weight: bold;
}